.contact-container {
  min-height: 280px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Self portrait */
.self-portrait-container {
  min-width: 500px;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.self-portrait {
  height: 225px;
  width: 225px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contact-container {
    flex-direction: column;
  }
}
