.data-structures-container {
  width: 100%;
  min-height: 250px;
  background-color: #24215a;
  text-align: center;
}

.data-structure {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .data-structure {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
}
