.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
  background-color: #8c92ac;
}

.footer-copy {
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}
