.footer-container {
  min-height: 280px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* Self portrait */
.self-portrait-container {
  min-width: 500px;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.self-portrait {
  height: 225px;
  width: 225px;
}
