/* background image for paralax */
.parallax_background {
  min-height: 225px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
