.recent-project-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.recent-project-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 400px; */
}

.project-img {
  height: 250px;
  width: 350px;
  object-fit: cover;
  cursor: pointer;
}

.project-description {
  color: #ff748a;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 0 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .project-img {
    height: 210px;
    width: 280px;
    cursor: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .project-description {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
  .recent-project-container {
    height: 500px;
  }

  .project-description {
    width: 70%;
  }
}
