/* container */
.skills-container {
  height: 750px;
  width: 100%;
  background-color: #24215a;
}

/* Skills heading container and heading */
.skills-heading {
  height: 100px;
  padding-top: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.skills-heading h1 {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Skills Table List */

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 550px;
  width: 100%;
}
/* top and bottom tables */
.table-row tr {
  width: 650px;

  display: flex;
  justify-content: space-around;
}
.table-row-mid tr {
  width: 750px;

  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .skills-heading h1 {
    font-size: 2rem;
  }

  table {
    min-height: 430px;
  }

  .skills-container {
    height: 550px;
    width: 100%;
  }

  .table-row tr {
    width: 100%;
  }

  .table-row-mid tr {
    width: 50%;
  }
}
